# Executables & Binaries
yt-dlp.exe
bin/*
!bin/.gitkeep

# Permanent Assets Folders (Keep folders, ignore content)
youtube/*
!youtube/.gitkeep
images/*
!images/.gitkeep
animations/*
!animations/.gitkeep
music/*
!music/.gitkeep

# Global Media Safety (Anti-accidental upload)
*.mp4
*.webm
*.mkv
*.mp3
*.wav
*.png
*.jpg
*.jpeg
*.gif

# System files
.DS_Store
Thumbs.db
