# Executables & Binaries
yt-dlp.exe
bin/*
!bin/.gitkeep

# Project Assets (Ignore all date-based folders and master storage)
projects/*/youtube/2*
projects/*/images/2*
projects/*/animations/2*
projects/*/music/2*
youtube/masters/

# Global Media Safety (Anti-accidental upload)
*.mp4
*.webm
*.mkv
*.mp3
*.wav
*.png
*.jpg
*.jpeg
*.gif

# System files
.DS_Store
Thumbs.db
